.outer_container {
    text-align: center;
    margin-top: 10%;
}

.inner_container {
    border-radius: 15px;
    background-color: lightgreen;
    display: inline-block;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}